/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'Game Of Squids';
    src: url('./Game Of Squids.ttf') format('truetype'),
         url('./Game Of Squids.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  